*{
    margin: 0;
    padding: 0;

}
nav{
    background-color:rgb(34, 12, 34);
    color:white;
    height:75px;
    font-size:27px;
    display:flex;
    align-items:center;
    padding: 0 12px;
}
nav ul{
    list-style-type: none;

}