@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaina+2:wght@400..800&family=Roboto:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
*{
    margin:0;
    padding:0;
}
nav{
    background-color:rgb(34, 12, 34);
    color:white;
    height:65px;
    font-size:27px;
    display:flex;
    align-items:center;
    padding: 0 12px;
    font-family: "Roboto", sans-serif;
}
nav ul{
    list-style-type: none;

}
.gameContainer{
    
    display:flex;
    justify-content:center;
    margin-top:50px;
}
.container{
    display:grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns:repeat(3,10vw);
    font-family: "Roboto", sans-serif;
    position:relative;
}
.box{
    border: 2px solid black;
    font-size:8vw;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}
.box:hover{
    background-color:rgb(242, 234, 250)
}
.info{
    font-size: 25px;
}
.gameInfo{
    padding: 0 34px;
    font-family: "Baloo Bhaina 2", sans-serif;
}
.imgbox img{
    width:0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right:none;
}
.bl-0{
    border-left:none;
}
.bt-0{
    border-top:none;
}
.bb-0{
    border-bottom:none;
}
#reset{
    margin: 0 23px;
    padding : 6px 14px;
    font-size:16px;
    cursor:pointer;
    border-radius:6px;
    background-color:rgb(175, 126, 175);
    font-family: "Baloo Bhaina 2", sans-serif;
    font-weight:bolder;
}
.line{
    background-color:rgb(113, 45, 113);
    width:0vw;
    height:3px;
    position:absolute;
    transition:width 1s ease-in-out, transform 1s ease-in-out;
    
}
/* resposive design  */
@media (max-width:800px){
    .gameContainer{
        flex-wrap:wrap;
    }
    .gameInfo{
        margin-top: 34px;

    }
    .gameInfo h1{
        font-size:2.5em;
    }
    .container{
        display:grid;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns:repeat(3,20vw);
    }
}




